In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('forestfires.csv')
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [5]:
for col_name in df.columns:
    print("Total NaN:", df[col_name].isna().sum())
    print("Total null: ", df[col_name].isnull().sum())
    print("Data type: ", df[col_name].dtype)
    print("+"*10)

Total NaN: 0
Total null:  0
Data type:  int64
++++++++++
Total NaN: 0
Total null:  0
Data type:  int64
++++++++++
Total NaN: 0
Total null:  0
Data type:  object
++++++++++
Total NaN: 0
Total null:  0
Data type:  object
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  int64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++
Total NaN: 0
Total null:  0
Data type:  float64
++++++++++

In [6]:
def convert_month(month: str) -> int:
    month_dict = {
        'jan': 1,
        'feb': 2,
        'mar': 3,
        'apr': 4,
        'may': 5,
        'jun': 6,
        'jul': 7,
        'aug': 8,
        'sep': 9,
        'oct': 10,
        'nov': 11,
        'dec': 12
    }
    return month_dict[month]

In [7]:
def convert_day(day: str) -> int:
    day_dict = {
        'sun': 0,
        'mon': 1,
        'tue': 2,
        'wed': 3,
        'thu': 4,
        'fri': 5,
        'sat': 6
    }
    return day_dict[day]

In [8]:
df["day"] = df["day"].apply(convert_day)
df["month"] = df["month"].apply(convert_month)

In [ ]:
import numpy as np

class LinearRegression:
    def fit(self, X: np.ndarray, y: np.ndarray):
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        self.theta_: np.ndarray = inv_cov @ X.T @ y

    def rmse(self, Y: np.ndarray, Y_hat: np.ndarray) -> float:
        delta = Y - Y_hat
        return (delta**2).mean()**0.5
    
    def predict(self, X: np.ndarray) -> np.ndarray:
        y_pred = self.theta_ @ X.T
        return y_pred

In [10]:
X_y = df.to_numpy()
X_y.shape

(517, 13)

In [11]:
#Lấy số các giá trị 
N = df.shape[0]
#Chia tập dữ liệu thành 2 phần: 80% train và 20% test
X_y_train, X_y_test = np.split(X_y, indices_or_sections=[int(0.8*N)])

In [12]:
#Lấy hết các dòng, cột trừ cột cuối
X_train, X_test = X_y_train[:, :-1], X_y_test[:, :-1]
X_train.shape, X_test.shape
#Lấy hết các dòng và chỉ lấy cột cuối
Y_train, Y_test = X_y_train[:, -1], X_y_test[:, -1]
Y_train.shape, Y_test.shape

((413,), (104,))

In [13]:
lr = LinearRegression()
#Tìm self.theta_
lr.fit(X_train, Y_train)
#Dự đoán Y_pred trên tập test
Y_pred = lr.predict(X_test)

lr.rmse(Y_test, Y_pred)

np.float64(79.42477263962972)